[submodule "lib/intel-xed/xed"]
	path = lib/intel-xed/xed
	url = https://github.com/intelxed/xed.git
[submodule "lib/intel-xed/mbuild"]
	path = lib/intel-xed/mbuild
	url = https://github.com/intelxed/mbuild.git
[submodule "lib/fadec"]
	path = lib/fadec
	url = https://github.com/aengelke/fadec.git
[submodule "scripts/a2a-benchmarks"]
	path = scripts/a2a-benchmarks
	url = git@github.com:rgouicem/a2a-benchmarks.git
